__pycache__/
*.pyc
*.pyo
*.log
*.pth
*.pt


.env
.venv/
venv/

data/
outputs/
checkpoints/
weights/

.DS_Store
Thumbs.db

BgEraser/segmentAnything2/
BgEraser/segmentAnything3D/checkpoints/hf
BgEraser/sam-3d-objects/